.photo-zoom-backgrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-zoom-container {
    max-width: 90%;
    max-height: 90%;
}

.photo-zoom-container img {
    max-width: 45%;
    max-height: 100%;
    border-radius: 8px;
}